@import './base.css';

#overlay {
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  cursor: crosshair;
}

#selection-box {
  display: none;
  position: absolute;
  border: 2px dashed #fff;
  background: transparent;
  /* display: none; */
}
#dimension-text {
  position:relative;
  user-select: none;
  color: red;
  border: 1px solid black;
  background: green;
  white-space: nowrap;
  z-index: 100;
}